<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidUIDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidUIDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".RefreshRecyclerViewTestActivity"
            android:exported="false"
            android:label="RefreshRecyclerView测试"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".fold.FoldPadWindowTestActivity"
            android:exported="false"
            android:label="折叠屏小窗测试"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".LoadingTestActivity"
            android:exported="false"
            android:label="Loading组件测试"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".ProgressBarTestActivity"
            android:exported="false"
            android:label="进度条组件测试"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".AccessibilityTestActivity"
            android:exported="false"
            android:label="无障碍功能测试"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".LazyLoadTestActivity"
            android:exported="false"
            android:label="ViewStub懒加载测试"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>